@font-face {
    font-family: 'IranSans';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url('~assets/fonts/iransans.woff') format("woff");
}

@font-face {
    font-family: 'IranSans';
    font-display: swap;
    font-weight: bold;
    font-style: normal;
    src: url('~assets/fonts/iransans_medium.woff') format("woff");
}

th {
    font-weight: 400;
}

/*@font-face {*/
/*    font-family: 'IranSans';*/
/*    font-display: swap;*/
/*    font-weight: auto;*/
/*    font-style: auto;*/
/*    src: url('~assets/fonts/iransans_bold.woff') format("woff");*/
/*}*/