/*@font-face {*/
/*    font-family: 'IranSans';*/
/*    font-display: swap;*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    src: url('~assets/fonts/iransans.woff') format("woff");*/
/*}*/

/*@font-face {*/
/*    font-family: 'IranSans';*/
/*    font-display: swap;*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*    src: url('~assets/fonts/iransans_medium.woff') format("woff");*/
/*}*/

@font-face {
    font-family: "IranSans";
    src: url("~assets/font/iransans/eot/IRANSansWeb\(FaNum\).eot");
    src: url("~assets/font/iransans/eot/IRANSans\(FaNum\)_Medium.eot") format("embedded-opentype"),
    url("~assets/font/iransans/woff2/IRANSansWeb\(FaNum\).woff2") format("woff2"),
    url("~assets/font/iransans/woff/IRANSansWeb\(FaNum\).woff") format("woff"),
    url("~assets/font/iransans/ttf/IRANSansWeb\(FaNum\).ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/3967f8bfcdf02e2b966e2f252738ddca.svg#IRANSans") format("svg");
}

.eng.ef1.ef2 {
    font-family: sans-serif !important;
}

th {
    font-weight: 400;
}

a, p, span, input.text-field {
    font-size: 1.4rem;
}

/*selector collapse font size*/
.v-input.v-select {
    font-size: 14px !important;
}

/*selector collapse font color*/
.v-select__selection {
    color: #ffbb00 !important;
}

/*!*selector collapse icon color*!*/
.v-select .v-icon.mdi.mdi-menu-down {
    color: #ffbb00 !important;
}

.v-list-item__title {
    line-height: 1.6rem !important;
}

.v-tab {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
}

.inside-btn {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.vue-dropzone {
    border: 1px solid #ccc !important;
    font-family: IranSans, sans-serif !important;
    letter-spacing: 0 !important;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: black !important;*/
    /*transition: .2s linear;*/
}

.vue-pincode-input {
    font-size: 2rem !important;
}

.persian-date-picker {
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    padding: 4px 12px !important;
}

.vpd-icon-btn {
    display: none !important;
}

.v-text-field fieldset {
    border: 1px solid #ccc !important;
}

.pointer {
    cursor: pointer;
}

.dz-remove {
    z-index: 1001 !important;
}

/*@font-face {*/
/*    font-family: 'IranSans';*/
/*    font-display: swap;*/
/*    font-weight: auto;*/
/*    font-style: auto;*/
/*    src: url('~assets/fonts/iransans_bold.woff') format("woff");*/
/*}*/