/*@font-face {*/
/*    font-family: 'IranSans';*/
/*    font-display: swap;*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    src: url('~assets/fonts/iransans.woff') format("woff");*/
/*}*/

/*@font-face {*/
/*    font-family: 'IranSans';*/
/*    font-display: swap;*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*    src: url('~assets/fonts/iransans_medium.woff') format("woff");*/
/*}*/

@font-face {
    font-family: "IranSans";
    src: url("~assets/font/iransans/eot/IRANSansWeb\(FaNum\).eot");
    src: url("~assets/font/iransans/eot/IRANSans\(FaNum\)_Medium.eot") format("embedded-opentype"),
    url("~assets/font/iransans/woff2/IRANSansWeb\(FaNum\).woff2") format("woff2"),
    url("~assets/font/iransans/woff/IRANSansWeb\(FaNum\).woff") format("woff"),
    url("~assets/font/iransans/ttf/IRANSansWeb\(FaNum\).ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/3967f8bfcdf02e2b966e2f252738ddca.svg#IRANSans") format("svg");
}

/* Hide scrollbar */
*::-webkit-scrollbar {
    width: 0.4em;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.eng.ef1.ef2 {
    font-family: sans-serif !important;
}

th, td {
    text-align: center;
    font-size: 1.4rem !important;
}

a, p, span, input.text-field, input.order-text-field, .v-list-item, .v-list-item__title {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
}

a {
    text-decoration: none;
}

.v-label, .v-stepper__label {
    font-size: 1.4rem !important;
    font-weight: 600;
}

/*selector collapse font size*/
.v-input.v-select {
    font-size: 14px !important;
}

/*selector collapse font color*/
.v-select__selection {
    color: #35004a !important;
}

/*!*selector collapse icon color*!*/
.v-select .v-icon.mdi.mdi-menu-down {
    color: #35004a !important;
}

.v-list-item__title {
    line-height: 1.6rem !important;
}

.v-expansion-panel-header {
    padding: 0 !important;
}

.v-tab {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
}

.inside-btn {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.vue-dropzone {
    border: 1px solid #a7a9cf66 !important;
    font-family: IranSans, sans-serif !important;
    letter-spacing: 0 !important;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    /*background-color: #00061a !important;;*/
    /*transition: .2s linear;*/
}

.dz-message {
    margin: 0 !important;
}

.dz-remove {
    z-index: 1001 !important;
}

.vue-pincode-input {
    font-size: 2rem !important;
}

.dark .vue-pincode-input {
    border: 1px solid #a7a9cf !important;
    border-radius: 4px !important;
    color: white;
}

.persian-date-picker {
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid #a7a9cf66 !important;
    border-radius: 4px !important;
    padding: 4px 12px !important;
    color: white;
}

.vpd-icon-btn {
    display: none !important;
}

.vpd-body {
    /*background: #00061a;*/
}

div.vpd-header {
    /*color: black;*/
}

.vpd-actions button:hover {
    background-color: transparent !important;
    border: 1px solid #35004a !important;
}

.v-text-field fieldset {
    /*border: 1px solid #a7a9cf66 !important;*/
}

.pointer {
    cursor: pointer;
}

/*@font-face {*/
/*    font-family: 'IranSans';*/
/*    font-display: swap;*/
/*    font-weight: auto;*/
/*    font-style: auto;*/
/*    src: url('~assets/fonts/iransans_bold.woff') format("woff");*/
/*}*/